<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ios-f5-vpn-utilities" version="0.0.5" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-ios-f5-vpn-utilities</name>
    <platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="F5VPN">
				<param name="ios-package" value="F5VPN" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<header-file src="src/ios/F5VPN.h" />
		<source-file src="src/ios/F5VPN.m" />
	</platform>
</plugin>
